{% extends 'partials/template.twig' %}

{% block title %}Contact Me - Romain Khanoyan's Portfolio{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ path_for('home') }}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path_for('projects') }}">Projects</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path_for('about') }}">About Me</a></li>
{% endblock %}
  
{% block content %}
<div class="jumbotron my-4">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1"> Your email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">What is the subject of your mail ?</label>
      <select class="form-control subject" id="exampleFormControlSelect1">
        <option>For a work to be done</option>
        <option>To talk about internship</option>
        <option>Ask a question</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <button type="submit" class="btn btn-primary btn-submit">Submit</button>
  <script>
      const btn = document.querySelector('.btn-submit')
      btn.addEventListener('click', () => {
          let subject = document.querySelector('.subject').value,
              textarea = document.querySelector('.textarea').value
          window.location.href = `mailto:romain.khanoyan@gmail.com?subject=${subject}&body=${textarea}`
      })
  </script>
</div>
{% endblock %}