{% extends 'partials/template.twig' %}

{% block title %}Error {{code}}{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ path_for('home') }}">Back Home</a></li>
{% endblock %}

{% block content %}
<h2>{{ code }}</h2>
{% endblock %}
